
{% extends "layout.html" %}
{% block body %}
{% endblock %}
    
{% block js %}
    <script>	
        $(function() {
            $.rebootOps(
              {"data": [{"select_type": "caninet", "type": "select", "name": "caninet", "title": "\u673a\u67dc"}, {"name": "hostname", "title": "\u4e3b\u673a\u540d"}, {"name": "asset_no", "title": "\u8d44\u4ea7\u53f7"}, {"type": "date", "name": "end_time", "title": "\u8fc7\u671f\u65e5\u671f"}, {"type": "select", "name": "ups", "value": {"0": "\u5f00\u542f", "1": "\u5173\u95ed"}, "title": "\u662f\u5426\u5f00\u542f"}], "name": "host", "title": "\u670d\u52a1\u5668"}
            )
        })
    </script>
{% endblock %}

