{% extends "layout.html" %}

{% block body %}


{% endblock %}

{% block js %}

<script>	
$(function() {
    $.rebootOps({
        name: 'idc',
        title: 'IDC',
        // addurl:'addmanu',
        data: [{
            name: 'name',
            title: '简称'
        },{
            name: 'idc_name',
            title: 'IDC全称'
        },{
            name: 'address',
            title: '联系地址'
        },{
            name: 'phone',
            title: '客服电话'
        },{
            name: 'email',
            title: '邮箱'
        },{
            name: 'user_interface',
            title: '用户接口'
        },{
            name: 'user_phone',
            title: '接口人电话'
        },{
            name: 'rel_cabinet_num',
            title: '实际机柜数'
        },{
            name: 'pact_cabinet_num',
            title: '合同机柜数'
        }]
    })
})



</script>
{% endblock %}