
{% extends "layout.html" %}
{% block body %}
{% endblock %}
    
{% block js %}
    <script>	
        $(function() {
            $.rebootOps(
              {"data": [{"name": "service_name", "title": "\u670d\u52a1\u540d"}, {"name": "module_letter", "title": "\u6a21\u5757\u7b80\u79f0"}, {"name": "dev_interface", "title": "\u5f00\u53d1\u8005"}, {"name": "op_interface", "title": "\u8fd0\u7ef4\u63a5\u53e3\u4eba"}], "name": "product", "title": "\u4e1a\u52a1\u7ebf"}
            )
        })
    </script>
{% endblock %}

