{% extends "layout.html" %}

{% block body %}

<!-- <select class="js-example-basic-single form-control">
</select> -->
{% endblock %}

{% block js %}

<script>

$(function() {



    $.rebootOps({
        name: 'servertype',
        title: '服务器类型',
        // addurl:'addmanu',
        data: [{
            name: 'type',
            title: '服务器类型'
        },{
        	name:'manufacturers_id',
        	title:'制造商',
        	type:'select',
        	select_type:'manufacturer'
        }]
    })
})
</script>
{% endblock %}