{% extends "layout.html" %}

{% block body %}


{% endblock %}

{% block js %}

<script>	
$(function() {
    $.rebootOps({
        name: 'product',
        title: '业务线',
        // addurl:'addmanu',
        data: [{
            name: 'service_name',
            title: '服务名'
        },{
            name:'module_letter',
            title:'模块简称'
        },{
            name:'dev_interface',
            title:'开发者'
        },{
            name:'op_interface',
            title:'运维接口人'
        }]
    })
})
</script>
{% endblock %}